# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Copilot migration files
/copilot.data.migration.agent.xml
/copilot.data.migration.ask.xml
/copilot.data.migration.ask2agent.xml
/copilot.data.migration.edit.xml

# IntelliJ IDEA files
/misc.xml
/modules.xml
/vcs.xml
/workspace.xml
COMP2522_Term_Project.iml